body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f8fafc;
}

.box{
  background:white;
  padding:30px;
  border-radius:8px;
  width:300px;
}

button{
  margin-bottom:10px;
  margin-right:5px;
  padding:8px 12px;
  cursor:pointer;
}

ul{
  list-style:none;
  padding:0;
}

li{
  padding:8px;
  border-bottom:1px solid #e5e7eb;
}
